@import "./../node_modules/bootstrap/dist/css/bootstrap.min.css";

body {
  padding: 50px 100px;
  margin: 0 auto;
}

.form {
  padding: 20px 10px;
  margin: 0 auto;
  border: 1px solid black;
  max-width: 320px;
  border-radius: 10px;
  position: relative;
}

input {
  height:40px;
  margin: 5px 0 10px 0;
  border-radius: 5px;
  border: 1.5px solid darkgray;
  padding-left: 10px ;
}

.submit {
position: relative;
right: -188px;
margin: 10px 0 5px 0;
}